/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --text-color: #222;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

html,
body {
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  line-height: 1.8;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4 {
  font-weight: 300;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

h1 {
  font-size: 60px; 
  letter-spacing: -.1rem;
  line-height: 1.2;
}

h2 {
  font-size: 45px; 
  letter-spacing: -.1rem;
  line-height: 1.25;
}

h3 {
  font-size: 35px; 
  letter-spacing: -.1rem;
  line-height: 1.3;
}

h4 {
  font-size: 28px; 
  letter-spacing: -.08rem;
  line-height: 1.35;
}

@media (max-width: 600px) {
  h1, h2, h3, h4 {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 50px; 
  }
  
  h2 {
    font-size: 38px; 
  }
  
  h3 {
    font-size: 30px; 
  }
  
  h4 {
    font-size: 24px; 
  }
}

p {
  margin-top: 0;
}

a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
}

.bs {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(104, 76, 76, 0.3);
}
