// .cam {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: 20px 0;
//   padding: 13px;
//   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
// }
// .img {
//   flex: 1;
//   margin: 10px;
// }
// .info {
//   flex: 2;
// }

// @media (max-width: 600px) {
//   .cam {
//     flex-direction: column;
//     text-align: center;
//   }

//   .info {
//     margin-bottom: 20px;
//   }
// }

// TODO: Add media query for single row

.card {
  border-radius: .25rem;
  border: none;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  display: flex;
  flex-direction: column;
  margin: 0px 10px 20px;
  min-width: 0;
  padding: 10px;
  position: relative;
  width: 260px;
  word-wrap: break-word;

  .body {
    // flex: 1 1 auto;
    padding: 1 10px;

    h4 {
      font-size: 1.6em;
      font-weight: 400;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .footer {
    background: var(--lightest-olive);
    margin-top: auto;
  }
}
