.container {
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 30px;
}

/* Cam Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.layout {
  border: 1px solid green;
  // width: 100%
}

.cam-container {
  border: 1px solid lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

hr {
  border-top: 1px solid #BCBCBC;
  text-align: center;
  margin: 2rem 0;
}

hr:after {
  content: '\1F334';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 1rem;
  background: #fff;
  color: #8c8b8b;
  font-size: 18px;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
  background: red;
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  background: #000;
  border-radius: 5px;
  border: 0;
  color: #fff !important;
  cursor: pointer;
  font-size: 13px;
  font: inherit;
  margin: 0 20px;
  padding: 5px 15px;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}
