.header {
  align-items: center;
  background:var(--lightest-olive);
  border: 1px solid var(--light-olive);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-top: 7px;
  padding: 0 30px;
}

.header a {
  color: #333;
  margin-right: 20px;
}

.header a:hover {
  color: #000;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: var(--ruby);
  font-size: 20px;
  text-transform: uppercase;
}

.logo a {
  color: var(--ruby);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
