.navbar {
  background: honeydew;

  a {
    color: white;
  }
/*
-------------------------- playground
*/
  li {
    // My addition
                                    //  width: 275px;
    // display: inline-block;
    float: left;
    // display: inline-block
    width: 200px;
    cursor: default;
    a {
      width: 200px;
    }
  }

  .dropdown:hover .dropdown_menu li {
    // width: 200px;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    // padding: 50px;
  }

  .dropdown_menu li a {
    cursor: pointer;
    display:inline-block;
    width: 250px;

    // padding: 20px;
  }


/*
-------------------------- playground
*/


  // h1 {
  //   font-size: 48px;
  //   text-align: center;
  //   margin-top: 30px;
  //   margin-bottom: 40px;
  // }
  // .menu-container {
  //   margin-top: 20px;
  // }
  // .menu-container h3 {
  //   font-size: 24px;
  //   margin-bottom: 10px;
  //   text-align: center;
  // }
  // .menu-container:nth-child(3) {
  //   margin-top: 200px;
  // }
  // nav {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  // }
  // .menu {
  //   display: flex;
  //   justify-content: center;
  // }
  .dropdown {
    // padding: 20px 40px; // Add padding to the anchor?
    display: flex;
    // justify-content: center;
    // align-items: center;
    color: #fff;
    // background: #c06162;
    // background: #34495e;
    background: var(--seafoam);
    position: relative;
    // font-size: 18px;
    // perspective: 1000px;
    z-index: 100;
  }
  .dropdown:hover {
    background: var(--dark-seafoam);
    // cursor: pointer;
  }
  .dropdown:hover .dropdown_menu li {
    display: block;
  }
  .dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    z-index: -1;

    // Animation
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;


  }
  .dropdown_menu li {
    display: none;
    color: #fff;
    background-color: var(--light-seafoam);
    // padding: 10px 20px;
    font-size: 16px;
    opacity: 0;
  }
  .dropdown_menu li:hover {
    background-color: var(--seafoam);
  }
  .dropdown:hover .dropdown_menu--animated {
    display: block;
  }
  .dropdown_menu--animated {
    display: none;
  }
  .dropdown_menu--animated li {
    display: block;
    opacity: 1;
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
