.showcase {
  align-items: center;
  background: #000 url('/images/mybeachcams.jpg') no-repeat center center / cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;

  h1, h2, h3 {
    text-shadow: 1px 1px 1px rgb(75, 75, 75);
  }

  h1 {
    margin-bottom: 0;
  }
}

.showcase::after {
  background-color: rgba(0, 0, 0, 0.1);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.showcase * {
  z-index: 20;
}

@media (max-width: 600px) {
  .heading {
    font-size: 2.4rem;
    line-height: 0.25;
  }
  .subheading {
    font-size: 2rem;
  }
}