.showcase {
  // TODO: More text shadow

  background: #000 url('/images/mybeachcams.jpg') no-repeat center center / cover;
  margin-top: 38px;
  text-shadow: 1px 1px 1px rgb(75, 75, 75);
}

.container {
  // border: 1px solid green;
  color: #fff;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 4.0rem;
  font-weight: 300;
  justify-content: center;
  letter-spacing: -.1rem;
  line-height: 1.2;
  margin: auto;
  max-width: 1200px;
  min-height: 120px;
  padding: 0 10px;
  text-align: center;
}

.logo {
  font-size: 50px;
  margin-top: 0px;
}

.subHeading {
  font-size: 32px;
  margin: 5px 0 20px;
}

@media (max-width: 600px) {
  .logo {
    font-size: 40px;
    line-height: 0.9;
    margin-top: 2px;
  }
  .subHeading {
    font-size: 26px;
    margin: 8px 0 8px;
  }
}
